numpy==1.17.4
urllib3==1.24.2
flask==1.1.1
flask-cors==3.0.8
Pillow==6.2.0
requests==2.22.0
jinja2==2.10.3
awscli==1.16.14
tensorboard==2.2.1
tensorboard-plugin-wit==1.6.0.post3
tensorflow==2.5.0
tensorflow-estimator==2.2.0
torch==1.5.0
torchvision==0.6.0